---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 opacity-75">
    &copy; {today.getFullYear()} Rodrigo Crespin
  </div>
</footer>
<style>

</style>
